<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<title><!--@@var = title-->PLANTBOX</title>

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="keywords" content="">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel="alternate" href="http://" hreflang="ko" />

<meta property="og:title" content="PLANBOX">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="PLANBOX">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">

<!-- pwa -->
<link rel="manifest" href="<!-- @if ENV='production' -->/plantbox-site<!-- @endif -->/manifest.json">

<link rel="shortcut icon" href="<!-- @if ENV='production' -->/plantbox-site<!-- @endif -->/favicon.ico">
<!-- <link rel="icon" type="image/png" href="/favicon.png"> -->

<link rel="stylesheet" href="<!-- @if ENV='production' -->/plantbox-site<!-- @endif -->/css/style.css">

</head>

<body>

  <!-- skip navigation -->
  <div class="skip-nav">
    <a href="#contents">Go To Contents</a>
  </div>

  <!-- wrap -->
  <div id="wrap">

    <header id="header">
      <div class="container">
        <h1><a href="./index.html">PLANTBOX</a></h1>
        <nav id="gnb">
          <ul>
            <li><a href="./index.html">product</a></li>
            <li><a href="./about.html">about us</a></li>
            <li><a href="./vegetable.html">vegetable</a></li>
          </ul>
        </nav>
      </div>
      <!-- mobile -->
      <a href="" class="m-menu"><span></span></a>
      <div class="m-menu-box">
        <nav id="mGnb">
          <div>
            <h2>
              <a href="/index.html">
                <span class="off"><img src="./image/common/m_gnb01_off.png" style="width:31.5vw;" alt="Product"></span>
                <span class="on"><img src="./image/common/m_gnb01_on.png" style="width:31.5vw;" alt="Product"></span>
              </a>
            </h2>
            <ul>
              <li>
                <a href="/index.html">
                  <span class="off"><img src="./image/common/m_gnb01_01_off.png" style="width:13vw;" alt="Plantbox"></span>
                  <span class="on"><img src="./image/common/m_gnb01_01_on.png" style="width:13vw;" alt="Plantbox"></span>
                </a>
                <ul>
                  <li>
                    <a href="/index.html#howtouse">
                      <span class="off"><img src="./image/common/m_gnb01_02_off.png" style="width:15.7vw;" alt="How to use"></span>
                      <span class="on"><img src="./image/common/m_gnb01_02_on.png" style="width:15.7vw;" alt="How to use"></span>
                    </a>
                  </li>
                  <li>
                    <a href="/index.html#technology">
                      <span class="off"><img src="./image/common/m_gnb01_03_off.png" style="width:16.5vw;" alt="Technology"></span>
                      <span class="on"><img src="./image/common/m_gnb01_03_on.png" style="width:16.5vw;" alt="Technology"></span>
                    </a>
                  </li>
                  <li>
                    <a href="/index.html#maintenance">
                      <span class="off"><img src="./image/common/m_gnb01_04_off.png" style="width:18vw;" alt="Maintenance"></span>
                      <span class="on"><img src="./image/common/m_gnb01_04_on.png" style="width:18vw;" alt="Maintenance"></span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div>
            <h2>
              <a href="/about.html">
                <span class="off"><img src="./image/common/m_gnb02_off.png" style="width:23.9vw;" alt="About"></span>
                <span class="on"><img src="./image/common/m_gnb02_on.png" style="width:23.9vw;" alt="About"></span>
              </a>
            </h2>
            <ul>
              <li>
                <a href="/about.html">
                  <span class="off"><img src="./image/common/m_gnb02_01_off.png" style="width:10.2vw;" alt="AI Plus"></span>
                  <span class="on"><img src="./image/common/m_gnb02_01_on.png" style="width:10.2vw;" alt="AI Plus"></span>
                </a>
                <ul>
                  <li>
                    <a href="/about.html#vision">
                      <span class="off"><img src="./image/common/m_gnb02_02_off.png" style="width:8.5vw;" alt="Vision"></span>
                      <span class="on"><img src="./image/common/m_gnb02_02_on.png" style="width:8.5vw;" alt="Vision"></span>
                    </a>
                  </li>
                  <li>
                    <a href="/about.html#strategy">
                      <span class="off"><img src="./image/common/m_gnb02_03_off.png" style="width:11.8vw;" alt="Strategy"></span>
                      <span class="on"><img src="./image/common/m_gnb02_03_on.png" style="width:11.8vw;" alt="Strategy"></span>
                    </a>
                  </li>
                  <li>
                    <a href="/about.html#history">
                      <span class="off"><img src="./image/common/m_gnb02_04_off.png" style="width:10vw;" alt="History"></span>
                      <span class="on"><img src="./image/common/m_gnb02_04_on.png" style="width:10vw;" alt="History"></span>
                    </a>
                  </li>
                  <li>
                    <a href="/about.html#press">
                      <span class="off"><img src="./image/common/m_gnb02_05_off.png" style="width:7.1vw;" alt="Press"></span>
                      <span class="on"><img src="./image/common/m_gnb02_05_on.png" style="width:7.1vw;" alt="Press"></span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div>
            <h2>
              <a href="/vegetable.html">
                <span class="off"><img src="./image/common/m_gnb03_off.png" style="width:43.7vw;" alt="Vegetables"></span>
                <span class="on"><img src="./image/common/m_gnb03_on.png" style="width:43.7vw;" alt="Vegetables"></span>
              </a>
            </h2>
            <ul>
              <li>
                <a href="/vegetable.html">
                  <span class="off"><img src="./image/common/m_gnb03_01_off.png" style="width:15.3vw;" alt="Vegetables"></span>
                  <span class="on"><img src="./image/common/m_gnb03_01_on.png" style="width:15.3vw;" alt="Vegetables"></span>
                </a>
                <ul>
                  <li>
                    <a href="/vegetable.html#recipe">
                      <span class="off"><img src="./image/common/m_gnb03_02_off.png" style="width:9.1vw;" alt="Recipe"></span>
                      <span class="on"><img src="./image/common/m_gnb03_02_on.png" style="width:9.1vw;" alt="Recipe"></span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <ul class="sns">
          <li>
            <a href=""><img src="./image/common/m_top_sns_instagram.png" alt="인스타그램"></a>
          </li>
          <li>
            <a href=""><img src="./image/common/m_top_sns_facebook.png" alt="페이스북"></a>
          </li>
        </ul>
      </div>
      <!-- //mobile -->
    </header>
  
    <article id="contents">
  
      <!--@@placeholder = contents -->
  
    </article>
  
    <footer id="footer">
      <h2 class="invisible">하단 영역</h2>
      <div class="container">
        <p class="foot-logo"></p>
        <ul class="foot-link">
          <li>
            <a href="./index.html">Explore</a>
            <ul>
              <li><a href="./index.html">Product</a></li>
              <li><a href="./about.html">About</a></li>
              <li><a href="./vegetable.html">Vegetable</a></li>
            </ul>
          </li>
          <li>
            <a href="">Contacts</a>
            <ul>
              <li><a href="mailto:info@ai-plus.kr">info@ai-plus.kr</a></li>
            </ul>
          </li>
          <li>
            <a href="">Legal</a>
            <ul>
              <li><a href="">Terms &amp; Conditions</a></li>
            </ul>
          </li>
        </ul>
        <ul class="sns">
          <li>
            <a href="" class="instagram"></a>
          </li>
          <li>
            <a href="" class="facebook"></a>
          </li>
        </ul>

        <div class="m-foot-box">
          <ul class="m-foot-link">
            <li>
              <p class="tit">Contacts</p>
              <p class="txt">경기도 수원시 영통구 영통로 200번길 34, 준원빌딩  2층</p>
            </li>
            <li>
              <p class="tit">Legal</p>
              <p class="txt"><a href="">Terms &amp; Conditions</a></p>
            </li>
          </ul>
          <div class="m-foot-info">
            <p>COMPANY INFO | (주) 에이아이플러스 | 대표 : 권오용 , 최선묵</p>
            <p>사업자번호 : 629-86-01158 | EMAIL  : aiplus@ai-plus.kr</p>
            <p>Copyright ⓒ 2019 (주) 에이아이플러스 All rights reserved</p>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <!-- //wrap -->

  <!-- jquery cdn -->
  <script src="<!-- @if ENV='production' -->/plantbox-site<!-- @endif -->/js/jquery.min.js"></script>
  <script src="<!-- @if ENV='production' -->/plantbox-site<!-- @endif -->/js/aos.js"></script>
  <script src="<!-- @if ENV='production' -->/plantbox-site<!-- @endif -->/js/anime.min.js"></script>
  <script src="<!-- @if ENV='production' -->/plantbox-site<!-- @endif -->/js/swiper.min.js"></script>
  <script src="<!-- @if ENV='production' -->/plantbox-site<!-- @endif -->/js/js.js"></script>
</body>

</html>