<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<title><!--@@var = title-->PLANBOX</title>

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="keywords" content="">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel="alternate" href="http://" hreflang="ko" />

<meta property="og:title" content="PLANBOX">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="PLANBOX">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">

<link rel="shortcut icon" href="/favicon.ico">
<!-- <link rel="icon" type="image/png" href="/favicon.png"> -->

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <!-- skip navigation -->
  <div class="skip-nav">
    <a href="#contents">Go To Contents</a>
  </div>

  <!-- wrap -->
  <div id="wrap">

    <header id="header">
      <div class="container">
        <h1><a href="/">PLANTBOX</a></h1>
        <nav id="gnb">
          <ul>
            <li><a href="">product</a></li>
            <li><a href="">about us</a></li>
            <li><a href="">vegetable</a></li>
          </ul>
        </nav>
      </div>
    </header>
  
    <article id="contents">
  
      <!--@@placeholder = contents -->
  
    </article>
  
    <footer id="footer">
      <h2 class="invisible">하단 영역</h2>
    </footer>

  </div>
  <!-- //wrap -->

  <!-- jquery cdn -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/anime.min.js"></script>
  <script src="/js/js.js"></script>
</body>

</html>