// about
#about {
  .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0,0,0,0);
  }
  img {
    @include mediaQuery($deviceSmall){
      width:100%;
    }
  }
  text-align:left;
  // transition
  $transition1:all .7s cubic-bezier(0.075, 0.82, 0.165, 1);

  > section[class*="section"] {
    position:relative;
    overflow: hidden;
    background-size:cover;
    // active
    &.active {
      .text-box {
        .navi {
          .image {
            height:477px;
          }
        }
      }
    }
  }
  @include mediaQuery($deviceLarge){ // PC
    .container {
      position:relative;
      min-height:900px;
      //box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
    }
  }
  
  .text-box {
    position:relative;
    padding:134px 0 0 65px;
    @include mediaQuery($deviceSmall){
      display:none;
    }
  }

  .navi {
    position:relative;
    .bg {
      height:477px;
      opacity:0.3;
    }
    .image {
      position:absolute;
      top:0;
      left:0;
      height:0;
      @include fontNone;
      overflow:hidden;
      transition:height 1s ease-in-out;
      > span {
        display:block;
        height:477px;
      }
    }
  }

  // section01
  .section01 {
    @include mediaQuery($deviceLarge){ // PC
      height:802px;
      background:url("../image/about/about_bg1.jpg") no-repeat center top #f1f2f1;
    }
    .text-box {
      .navi {
        width:79px;
        .bg {
          background:url("../image/about/img_nav1.png") no-repeat center center;
        }
        .image {
          > span {
            width:79px;
            background:url("../image/about/img_nav1.png") no-repeat center center;
          }
        }
      }
      .txt-ani {
        position:absolute;
        left:205px;
        top:134px;
        p {
          margin-top:20px;
          color:#9c9c9c;
          font-size:36px;
          letter-spacing:-1.08px;
          font-family:'NanumSquare', sans-serif;
        }
      }
    }
    .m-txt {
      position:absolute;
      left:52.99vw;
      top:124.26vw;
      span {
        display:block;
        width:36.32vw;
        height:17.96vw;
      }
      p {
        padding-top:3.51vw;
        color:#717171;
        font-size:2.604vw;
        line-height:4.81vw;
        font-family:'NanumSquare', sans-serif;
        font-weight:300;
      }
    }
  }

  // section02
  .section02 {
    background:url("../image/about/about_bg2.jpg") no-repeat center top;
    .inner {
      position:relative;
      .text-box {
        position:absolute;
        left:524px;
        top:270px;
        padding:0;
        z-index:1;
        p {
          margin-top:52px;
          color:#c0c2c6;
          font-size:23px;
          font-family:'NanumSquare', sans-serif;
          letter-spacing:-0.575px;
          line-height:36px;
          font-weight:300;
          text-align:center;
        }
      }
      .img {
        position:absolute;
        left:0;
        top:250px;
      }
    }
  }

  // section03
  .section03 {
    .text-box {
      .navi {
        width:79px;
        .bg {
          background:url("../image/about/img_nav1.png") no-repeat center center;
        }
        .image {
          > span {
            width:79px;
            background:url("../image/about/img_nav1.png") no-repeat center center;
          }
        }
      }
      .txt-ani {
        position:absolute;
        left:212px;
        top:133px;
      }
      .img {
        position:absolute;
        left:47.52%;
        top:24.166%;
        p {
          margin-top:50px;
          color:#949696;
          font-size:23px;
          font-family:'NanumSquare', sans-serif;
          letter-spacing:-0.575px;
          line-height:48px;
          font-weight:300;
        }
      }
    }
    .m-txt {
      position:absolute;
      left:15.625vw;
      top:92.57vw;
      span {
        display:block;
        width:66.79vw;
        height:28.51vw;
      }
      p {
        padding-top:12.76vw;
        color:#717171;
        font-size:2.604vw;
        line-height:5.20vw;
        letter-spacing:-0.065vw;
        font-family:'NanumSquare', sans-serif;
        font-weight:300;
      }
    }
  }

  // section04
  .section04 {
    background:url("../image/about/about_bg3.jpg") no-repeat center top;
    .text-box {
      .navi {
        width:98px;
        .bg {
          background:url("../image/about/img_nav2.png") no-repeat center center;
        }
        .image {
          > span {
            width:98px;
            background:url("../image/about/img_nav2.png") no-repeat center center;
          }
        }
      }
      .txt-ani {
        position:absolute;
        left:209px;
        top:134px;
      }
    }
  }

  // section05
  .section05 {
    background:#f1f2f1;
    .text-box {
      .navi {
        width:98px;
        .bg {
          background:url("../image/about/img_nav2.png") no-repeat center center;
        }
        .image {
          > span {
            width:98px;
            background:url("../image/about/img_nav2.png") no-repeat center center;
          }
        }
      }
      .txt-ani {
        position:absolute;
        left:255px;
        top:400px;
        p {
          margin-top:60px;
          color:#aaabab;
          font-size:23px;
          font-family:'NanumSquare', sans-serif;
          letter-spacing:-0.575px;
          line-height:48px;
          font-weight:300;
          text-align:center;
        }
      }
    }
    .m-txt {
      position:absolute;
      left:0;
      top:131.77vw;
      margin:0 22.13vw;
      p {
        color:#717171;
        font-size:2.66vw;
        line-height:5.20vw;
        letter-spacing:-0.065vw;
      }
    }
  }

  // section06
  .section06 {
    background:url("../image/about/about_bg4.jpg") no-repeat center top;
    .text-box {
      .navi {
        width:98px;
        .bg {
          background:url("../image/about/img_nav3.png") no-repeat center center;
        }
        .image {
          > span {
            width:98px;
            background:url("../image/about/img_nav3.png") no-repeat center center;
          }
        }
      }
      .txt-ani {
        position:absolute;
        left:210px;
        top:133px;
      }
    }
  }

  // section07
  .section07 {
    background:#f1f2f1;
    .text-box {
      .navi {
        width:98px;
        .bg {
          background:url("../image/about/img_nav3.png") no-repeat center center;
        }
        .image {
          > span {
            width:98px;
            background:url("../image/about/img_nav3.png") no-repeat center center;
          }
        }
      }
      .card-box {
        position:absolute;
        left:240px;
        top:150px;
        .box {
          position:relative;
          .bg {
            display:inline-block;
            width:1200px;
            height:660px;
            background:url("../image/about/bg_sec7.png") no-repeat center center;
          }
          .img {
            position:absolute;
            left:55px;
            top:0;
          }
          .txt {
            position:absolute;
            left:-10px; 
            top:354px;
            width:1200px;
            li {
              float:left;
              width:380px;
              margin-right:20px;
              color:#979a9a;
              font-family: 'NanumSquare', sans-serif, sans-serif;
              font-size:24px;
              text-align:center;
              font-weight:100;
              line-height:42px;
              letter-spacing:-1px;
            }
          }
          &:after {
            display:block; 
            clear:both; 
            content:'';
          }
        }
      }
    }
    .m-txt {
      position:absolute;
      left:0;
      top:59.63vw;
      .img {
        display:block;
        width:41.27vw;
        height:11.19vw;
        margin:0 0 40.36vw 30.85vw;
      }
      p {
        margin:0 auto;
      }
    }
  }

  // section08
  .section08 {
    background:url("../image/about/about_bg5.jpg") no-repeat center top;
    .text-box {
      .navi {
        width:103px;
        .bg {
          background:url("../image/about/img_nav4.png") no-repeat center center;
        }
        .image {
          > span {
            width:103px;
            background:url("../image/about/img_nav4.png") no-repeat center center;
          }
        }
      }
      .txt-ani {
        position:absolute;
        left:210px;
        top:133px;
      }
    }
  }

  // section09
  .section09 {
    background:#f1f2f1;
    .text-box {
      .navi {
        width:103px;
        .bg {
          background:url("../image/about/img_nav4.png") no-repeat center center;
        }
        .image {
          > span {
            width:103px;
            background:url("../image/about/img_nav4.png") no-repeat center center;
          }
        }
      }
      .slide-wrap {
        position:absolute;
        left:210px;
        top:164px;
        width:1210px;
        height:629px;
        padding:15px 0 0 10px;
        background:url("../image/about/bg_slide.jpg") no-repeat center top;
      }
      .swiper-container {
        width:1140px;
        margin:0;
      }
      .swiper-button-next, 
      .swiper-button-prev {
        width:28px;
        height:48px;
      }
      .swiper-button-prev {
        background:url("../image/about/bt_slide_l.png") no-repeat;
        left:40px;
      }
      .swiper-button-next {
        background:url("../image/about/bt_slide_r.png") no-repeat;
        right:40px;
      }
      .swiper-button-next.swiper-button-disabled, 
      .swiper-button-prev.swiper-button-disabled {
        opacity:0;
      }
    }
    .m-slide-wrap {
      position:absolute;
      left:0;
      top:111.84vw;
      width:100%;
      height:89.84vw;
      .swiper-button-next, 
      .swiper-button-prev {
        width:3.64vw;
        height:6.25vw;
      }
      .swiper-button-prev {
        background:url("../image/about/bt_slide_l.png") no-repeat;
        background-size:cover;
        left:6.6vw;
      }
      .swiper-button-next {
        background:url("../image/about/bt_slide_r.png") no-repeat;
        background-size:cover;
        right:5.6vw;
      }
      .swiper-button-next.swiper-button-disabled, 
      .swiper-button-prev.swiper-button-disabled {
        opacity:0;
      }
      .swiper-scrollbar {
        left:22.13vw;
        bottom:10.41vw;
        width:58.20vw;
        height:2px;
        margin:0 auto;
        background:#dce1dc;
      }
      .swiper-scrollbar-drag {
        background:#68eea0;
      }
    }
  }

  // section10
  .section10 {
    background:url("../image/about/about_bg6.jpg") no-repeat center top #717171;
    .text-box {
      .navi {
        width:103px;
        .bg {
          background:url("../image/about/img_nav5.png") no-repeat center center;
        }
        .image {
          > span {
            width:103px;
            background:url("../image/about/img_nav5.png") no-repeat center center;
          }
        }
      }
      .txt-ani {
        position:absolute;
        left:210px;
        top:133px;
      }
    }
  }

  // section11
  .section11 {
    background:#f1f2f1;
    .text-box {
      .navi {
        width:103px;
        .bg {
          background:url("../image/about/img_nav5.png") no-repeat center center;
        }
        .image {
          > span {
            width:103px;
            background:url("../image/about/img_nav5.png") no-repeat center center;
          }
        }
      }
      .txt-ani {
        position:absolute;
        left:273px;
        top:436px;
      }
      .txt-link {
        position:absolute;
        left:668px;
        top:280px;
        span {
          display:inline-block;
          margin-left:50px;
          color:#979a9a;
          font-family:'NanumSquare', sans-serif, sans-serif;
          font-size:20px;
          letter-spacing:-0.575px;
          font-weight:300;
        }
      }
    }
    .m-txt {
      position:absolute;
      left:0;
      top:116.4vw;
      overflow:hidden;
      .txt-link {
        padding:0 5.41vw 0 9.41vw;
        a {
          display:block;
        }
        img {
          width:13.54vw;
        }
        span {
          display:inline-block;
          margin-left:2.2vw;
          color:#717171;
          font-size:2.66vw;
          line-height:4.2vw;
          letter-spacing:-0.065vw;
          vertical-align:top;
        }
      }
    }
  }
}