@charset 'UTF-8';

#footer {
  background-color: #989991;

  .container {
    position:relative;
    height:500px;
    padding:105px 0 0 675px;
    background-color: #989991;
  }

  .foot-logo {
    position:absolute;
    top:109px;
    left:97px;
    width:458px;
    height:62px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;

    @include mediaQuery($deviceLarge){ // PC
      background-image:url("../image/common/foot_logo.png");
    }
  }

  .foot-link {
    width:668px;
    overflow:hidden;
    text-align:left;
    > li {
      float:left;
      width:198px;
      margin-left:30px;
      &:first-child {
        margin-left:0;
      }
      > a {
        position:relative;
        display:block;
        color:#d7d9c6;
        font-family:$font-en-base;
        font-size:rem(16);
        font-weight:700;
        line-height:1.2;
        &:after {
          content:'';
          display:block;
          position:absolute;
          bottom:0;
          left:0;
          right:0;
          height:1px;
          background-color:#bfc1ab;
        }
      }
      ul {
        padding:15px 0 0 0;
        li {
          a {
            display:block;
            padding:5px 0 3px;
            color:#d2d3c6;
            font-family:$font-en-base;
            font-size:rem(16);
            font-weight:300;
            line-height:1.1;
          }
        }
      }
    }
  }

  .sns {
    position:absolute;
    bottom:165px;
    right:100px;
    @include fontNone;
    text-align:right;
    li {
      display:inline-block;
      & + li {
        margin-left:5px;
      }
      a {
        display:block;
        width:38px;
        height:37px;
        text-indent:-9999px;
        background-repeat: no-repeat;
        background-position:center center;
        &.instagram {
          background-image:url("../image/common/foot_sns_instagram.png");
        }
        &.facebook {
          background-image:url("../image/common/foot_sns_facebook.png");
        }
      }
    }
  }

  .m-foot-box {
    display:none;
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .container {
      height:auto;
      padding:42px 0 0 0;
    }

    .foot-logo {
      position:static;
      width:229px;
      height:31px;
      margin:0 auto;
      background-image:url("../image/common/m_foot_logo.png");
    }

    .foot-link,
    .sns {
      display:none;
    }

    .m-foot-box {
      display:block;
      .m-foot-link {
        padding:0 12% 45px 12%;
        text-align:left;
        .tit {
          margin-top:35px;
          color:#c0c2aa;
          font-size:4.1vw;
          line-height:1;
          border-bottom:1px solid #c0c2aa;
        }
        .txt {
          margin-top:12px;
          color:#d1d2ca;
          font-size:3.3vw;
        }
      }
    }
    .m-foot-info {
      padding:20px 12% 20px 12%;
      background-color:#86877e;
      > p {
        position:relative;
        margin-top:3px;
        color:#c9cac1;
        font-size:3vw;
        font-weight:300;
        text-align:center;
        &:before,
        &:after {
          content:'|';
          display:inline-block;
          position:absolute;
          top:0;
        }
        &:before {
          left:0;
        }
        &:after {
          right:0;
        }
      }
    }
  }

}