// header styling
header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:97px;
  border-top:1px solid #5e5d5a;
  border-bottom:1px solid #5e5d5a;
  background-color:#52514d;
  z-index:11;
  .container {
    position:relative;
    width:100%;
    max-width:1440px;
  }
  h1 {
    position:absolute;
    top:32px;
    left:25px;
    a {
      display:block;
      width:167px;
      height:38px;
      background:url("../image/common/logo.png") no-repeat center center;
      text-indent:-9999px;
      &:hover {
        background-image:url("../image/common/logo_hover.png");
      }
    }
  }

  // gnb
  #gnb {
    //@include fontNone;
    ul {
      display:flex;
      justify-content:flex-end;
      width:100%;
      padding:0 9.375% 0 0;
      li {
        padding:0 4.2%;
        a {
          display:block;
          min-width:70px;
          height:94px;
          line-height:94px;
          color:#bbb;
          font-family:$font-en-base;
          font-size:rem(16);
          text-align:center;
          &:hover {
            color:#dce6f7;
          }
        }
      }
    }
  }

  .m-menu,
  .m-menu-box {
    display:none;
  }

  // mobile
  @include mediaQuery($deviceSmall){
    height:87px;
    border-top:none;
    border-bottom:none;
    background-color:transparent;

    $transition-1 : all .4s ease-in-out;
    $transition-2 : all .4s ease-out;

    .container {
      display:none;
    }
    .m-menu {
      display:block;
      position:absolute;
      top:24px;
      right:18px;
      width:29px;
      height:29px;
      z-index:2;
      > span {
        display:block;
        position:absolute;
        left:0;
        right:0;
        top:0;
        height:3px;
        background-color:#babbb2;
        transition:$transition-1;
        &:before,
        &:after {
          content:'';
          display:block;
          position:absolute;
          left:0;
          right:0;
          height:3px;
          background-color:#babbb2;
          transition:$transition-1;
        }
        &:before {
          top:8px;
        }
        &:after {
          top:16px;
        }
      }
    }
    .m-menu-box {
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-color:#615d5a;
      opacity:0;
      transition:$transition-1;
    }
    #mGnb {
      padding:24% 9.3vw 0 9.3vw;
      color:#babbb2;
      text-align:left;
      letter-spacing:-1px;
      a {
        @include fontNone;
        .on {
          display:none;
        }
        &:active,
        &:focus {
          .off {
            display:none;
          }
          .on {
            display:block;
          }
        }
      }
      > div {
        position:relative;
        top:80px;
        margin-top:9%;
        opacity:0;
        transition:$transition-2;
        &:first-child {
          margin-top:0;
        }
        h2 {
          padding-bottom:1.5%;
          border-bottom:2px solid #babbb2;
        }
        > ul {
          margin-top:2.3vh;
          > li {
            display:flex;
            justify-content:flex-start;
            width:100%;
            > ul {
              display:flex;
              justify-content:flex-start;
              li {
                position:relative;
                margin-left:2vw;
                padding-left:3.1vw;
                &:before {
                  content:'';
                  position:absolute;
                  top:15%;
                  left:0;
                  width:4px;
                  height:4px;
                  background-color:#babbb2;
                  border-radius:50%;
                }
              }
            }
          }
        }
      }
    }
    .sns {
      position:absolute;
      bottom:6.3vh;
      right:8.2vw;
      > li {
        display:inline-block;
        margin-left:5px;
        a {
          img {
            width:7.4vw;
          }
        }
      }
    }

    // m-active
    &.m-ready {
      .m-menu {
        > span {
          top:8px;
          &:before {
            top:0;
          }
          &:after {
            top:0;
          }
        }
      }
      .m-menu-box {
        display:block;
      }
      &.m-active {
        .m-menu {
          > span {
            transform:rotate(-315deg);
            &:before {
              opacity:0;
            }
            &:after {
              transform:rotate(90deg);
            }
          }
        }
        .m-menu-box {
          opacity:1;
        }
        #mGnb {
          > div {
            top:0;
            opacity:1;
            @for $i from 1 through 4 {
              &:nth-child(#{$i}) {
                transition-delay:#{$i * .1}s;
              }
            }
          }
        }
      }
    }
    
  }

}