// body
body {

  &.scroll-hidden {
    overflow: hidden;
  }

  color:$color-default;
  background-color:#f8f8f8;
}

.container {
  width:1440px;
  margin:0 auto;

  // mobile
  @include mediaQuery($deviceSmall){
    width:100%;
    overflow:hidden;
  }
}

// layout
#contents {
  position:relative;
  min-width:1440px;
  padding:97px 0 0 0;

  // mobile
  @include mediaQuery($deviceSmall){
    min-width:0;
    width:100%;
    padding-top:0;
    overflow:hidden;
  }
}

.m-only {
  display:none;
  .popup-wrap {
    display:none;
  }
  @include mediaQuery($deviceSmall){
    display:block;
  }
}

// dim
.dim {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.1);
  z-index:99;
}

@media all and (-ms-high-contrast:none)
{
  *::-ms-backdrop,
  [data-aos^=fade][data-aos^=fade],[data-aos^=zoom][data-aos^=zoom]
  {
    opacity: 1;
  }
}