// body
body {

  &.scroll-hidden {
    overflow: hidden;
  }

  color:$color-default;
  background-color:#f6f4f1;
  overscroll-behavior: none;
}

// layout
#contents {
  position:relative;
}

// dim
.dim {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.1);
  z-index:99;
}