// main
#main {
  text-align:left;
  // transition
  $transition1:all .7s cubic-bezier(0.075, 0.82, 0.165, 1);

  > section[class*="section"] {
    position:relative;
    overflow: hidden;
  }

  .container {
    position:relative;
  }

  .title-box {
    position:relative;
    width:1440px;
    margin:0 auto;
    h2 {
      height:92px;
      @include fontNone;
      @include mediaQuery($deviceLarge){ // PC
        background:url("../image/main/main_logo.png") no-repeat 0 0;
      }
    }
    .sub-title {
      margin:-5px 0 0 98px;
      color:#9c9d9c;
      font-size:rem(24);
    }
    .line {
      position:relative;
      margin:5px 0 0 26px;
      .bg {
        opacity:0.3;
      }
      .image {
        position:absolute;
        top:0;
        left:0;
        height:0;
        overflow:hidden;
        transition:all 1.2s ease-in-out;
        > p {
          @include fontNone;
        }
      }
    }
  }
  .active .title-box {
    .line {
      .image {
        height:100%;
        transition-delay:.5s;
      }
    }
  }

  // section01
  .section01 {
    height:1799px;
    &:before {
      content:'';
      display:block;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      z-index:-1;
      background-color:#1f1f1e;
    }
    .pc-only {
      div {
        position: absolute;
        background-position:center 0;
        background-repeat:no-repeat;
        @include fontNone;
        opacity:0;
      }
      .bg {
        position:static;
        height:1799px;
        background-image:url("../image/main/section01_new_bg01.jpg");
        opacity:1;
      }
      .light {
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image:url("../image/main/section01_new_bg02.jpg");
      }
      .image {
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image:url("../image/main/section01_new_img01.jpg");
      }
      .text {
        top:703px;
        left:50%;
        margin-left:-515px;
        width:476px;
        height:71px;
        background-image:url("../image/main/section01_logo.png");
      }
    }

    // active
    &.active {
      .light,
      .image,
      .text {
        opacity:1;
      }
      .light {
        transition:all .0001s ease-in-out;
        transition-delay:.5s;
      }
      .image,
      .text {
        transition:all .18s ease-in-out;
        transition-delay:.8s;
      }
    }

    
  }

  // section02
  .section02 {
    height:1800px;
    @include mediaQuery($deviceLarge){  // pc
      background:url("../image/main/section02_bg.jpg") no-repeat center 0;
    }
    &:before {
      content:'';
      display:block;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:#d3dcf0;
      z-index:-1;
    }
    .container {
      padding-top:200px;
    }
    .title {
      width:464px;
      height:196px;
      margin-left:107px;
      background:url("../image/main/section02_title.png") no-repeat 0 0;
      @include fontNone;
    }
    .list-1 {
      display:flex;
      justify-content:space-between;
      // width:400px;
      // margin:200px 0 0 80px;
      padding-top:500px;
      padding-left:150px;
      li {
        padding:0 25px;
        text-align:center;
        .txt {
          margin-top:10px;
          color:#888;
          font-size:rem(16);
          line-height:1.4;
          letter-spacing:2px;
        }
      }
    }
    .text-1 {
      margin:225px 0 0 115px;
      color:#767676;
      font-size:rem(19);
      font-weight:300;
      line-height:40px;
      strong {
        font-weight:600;
      }
    }
  }

  // section03
  .section03 {
    height:900px;
    background-repeat:no-repeat;
    background-position:center center;
    @include mediaQuery($deviceLarge){  // pc
      background-image:url("../image/main/section03_bg.jpg");
    }
    &:before {
      content:'';
      display:block;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:#504f4c;
      z-index:-1;
    }
    .title-box {
      padding:130px 0 0 72px;
      .line {
        margin:5px 0 0 25px;
        .bg {
          width:22px;
          height:532px;
          background:url("../image/main/section03_line.png") no-repeat 0 0;
        }
        .image {
          width:22px;
          > p {
            width:22px;
            height:532px;
            background:url("../image/main/section03_line.png") no-repeat 0 0;
          }
        }
      }
    }
  }

  // section04
  .section04 {
    height:1800px;
    background-repeat:no-repeat;
    background-position:center center;
    @include mediaQuery($deviceLarge){  // pc
      background-image:url("../image/main/section04_bg.jpg");
    }
    &:before {
      content:'';
      display:block;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:#504f4c;
      z-index:-1;
    }
    p {
      position:absolute;
      &.icon {
        top:166px;
        right:114px;
        width:475px;
        height:200px;
        background:url("../image/main/section04_icon01.png") no-repeat center center;
      }
      &.txt-2 {
        top:677px;
        right:54px;
        width:623px;
        height:466px;
        padding:0 0 0 178px;
        @include fontNone;
        background:url("../image/main/section04_txt02_bg.png") no-repeat center center;
      }
    }
  }

  // section05
  .section05 {
    background:url("../image/main/section05_bg.png") repeat-x left 0;
    .container {
      height:900px;
      padding:124px 0 0 0;
    }
    .title {
      width:1244px;
      height:102px;
      margin:0 auto;
      background:url("../image/main/section05_title.png") no-repeat center center;
      @include fontNone;
    }
    .image-1 {
      position:absolute;
      bottom:165px;
      left:0;
      width:50%;
      .img-1 {
        margin-left:148px;
      }
      .img-2 {
        position:absolute;
        top:74px;
        left:216px;
      }
    }
    .image-2 {
      position:absolute;
      bottom:165px;
      right:0;
      width:50%;
      padding-top:51px;
      .img-1 {
        margin-left:89px;
      }
      .img-2 {
        position:absolute;
        top:0;
        left:160px;
      }
    }
    .step { 
      margin-top:65px;
      color:#a7aebc;
      font-size:rem(22);
      text-align:center;
      img {
        vertical-align:text-bottom;
        margin-right:12px;
      }
    }
  }

  // section06
  .section06 {
    background:url("../image/main/section06_bg.png") repeat-x left 0;
    .container {
      height:900px;
    }
    .day {
      position:absolute;
      bottom:130px;
      left:89px;
      right:89px;
      display:flex;
      justify-content:space-between;
      align-items:flex-end;
      height:193px;
      > p {
        width:51px;
        height:193px;
        @include fontNone;
        background-repeat:no-repeat;
        background-position:center bottom;
        &.txt-1 {
          width:545px;
        }
        @for $i from 1 through 6 {
          &.txt-#{$i} {
            background-image:url("../image/main/section06_txt01_0#{$i}.png");
          }
        }
      }
      > span {
        width:116px;
        height:8px;
        margin-bottom:45px;
        background:url("../image/main/section06_arrow.png") no-repeat center bottom;
      }
    }
  }

  // section07
  .section07 {
    @include mediaQuery($deviceLarge){  // pc
      background:url("../image/main/section07_bg.jpg") no-repeat center center;
    }
    &:before {
      content:'';
      display:block;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:#efefed;
      z-index:-1;
    }
    .container {
      height:1800px;
    }
    .title-box {
      padding:130px 0 0 72px;
      .line {
        margin:5px 0 0 25px;
        .bg {
          width:24px;
          height:532px;
          background:url("../image/main/section07_line.png") no-repeat 0 0;
        }
        .image {
          width:24px;
          > p {
            width:24px;
            height:532px;
            background:url("../image/main/section07_line.png") no-repeat 0 0;
          }
        }
      }
    }
    .txt-1 {
      position:absolute;
      top:600px;
      right:260px;
      width:216px;
      height:22px;
      @include fontNone;
      background:url("../image/main/section07_txt02.png") no-repeat center center;
    }
    .txt-2 {
      position: absolute;
      top:1181px;
      left:480px;
      width:502px;
      height:461px;
      @include fontNone;
      background:url("../image/main/section07_txt01.png") no-repeat center center;
    }
    .image-1 {
      position: absolute;
      top:924px;
      left:1050px;
      width:448px;
      height:828px;
      background:url("../image/main/section07_img01.png") no-repeat center center;
    }
  }

  // section08
  .section08 {
    @include mediaQuery($deviceLarge){  // pc
      background:url("../image/main/section08_bg.jpg") no-repeat center center;
    }
    &:before {
      content:'';
      display:block;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:#f0edea;
      z-index:-1;
    }
    .container {
      height:1800px;
    }
    .txt-1 {
      position:absolute;
      top:600px;
      left:391px;
      width:255px;
      height:652px;
      @include fontNone;
      background:url("../image/main/section08_txt01.png") no-repeat center center;
    }
    .txt-2 {
      position:absolute;
      top:640px;
      left:798px;
      width:519px;
      height:343px;
      @include fontNone;
      background:url("../image/main/section08_txt02.png") no-repeat center center;
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .title-box {
      position:relative;
      width:1440px;
      margin:0 auto;
      h2 {
        height:92px;
        background:url("../image/main/main_logo.png") no-repeat 0 0;
        @include fontNone;
      }
      .sub-title {
        margin:-5px 0 0 98px;
        color:#9c9d9c;
        font-size:rem(24);
      }
      .line {
        position:relative;
        margin:5px 0 0 26px;
        .bg {
          opacity:0.3;
        }
        .image {
          position:absolute;
          top:0;
          left:0;
          height:0;
          overflow:hidden;
          transition:all 1.2s ease-in-out;
          > p {
            @include fontNone;
          }
        }
      }
    }
    .active .title-box {
      .line {
        .image {
          height:100%;
          transition-delay:.5s;
        }
      }
    }

    // title
    .m-title-1 {
      position:absolute;
      top:4.3vh;
      left:8.8vw;
      img {
        width:34vw;
        vertical-align:top;
      }
      span {
        display:block;
        margin:-2px 0 0 8.3vw;
        color:#d4dbe9;
        font-size:2.8vw;
        &.t-1 {
          color:#9c9d9c;
        }
      }
    }
  
    // section01
    .section01 {
      height:auto;
      
      .pc-only {
        display:none;
      }
      .m-only {
        position:relative;
        img {
          width:100%;
        }
        .m-light,
        .m-image {
          position:absolute;
          top:0;
          left:0;
          right:0;
          opacity:0;
        }
      }

      // active
      &.active {
        .m-light,
        .m-image {
          opacity:1;
        }
        .m-light {
          transition:all .0001s ease-in-out;
          transition-delay:.5s;
        }
        .m-image {
          transition:all .18s ease-in-out;
          transition-delay:.8s;
        }
      }
    }
  
    // section02
    .section02 {
      height:auto;
      .container {
        padding-top:0;
      }
      .m-image {
        img {
          width:100%;
        }
      }
      .title {
        position:absolute;
        top:24%;
        left:8.3vw;
        width:34vw;
        height:7.6vh;
        margin-left:0;
        background-size:contain;
      }
      .list-1 {
        display:none;
      }
      .text-1 {
        display:none;
      }
      .m-image01 {
        position:absolute;
        top:40.9%;
        left:9.76vw;
        width:35.6vw;
      }
      .m-image02 {
        position:absolute;
        top:59.6%;
        left:7.8vw;
        width:39.5vw;
      }
    }
  
    // section03
    .section03 {
      height:auto;
      background-image:url("../image/main/m_section03_bg.jpg");
      background-size:cover;
      .container {
        height:196px;
      }
      .title-box {
        display:none;
      }
    }
  
    // section04
    .section04 {
      height:auto;
      p {
        display:none;
      }
      .m-image {
        img {
          width:100%;
        }
      }
      .m-icon {
        position:absolute; 
        top:9.1%;
        left:55.4vw;
        width:37.1vw;
      }
      .m-text {
        position:absolute; 
        top:38%;
        left:50.7vw;
        width:45.7vw;
      }
    }
  
    // section05
    .section05 {
      background-repeat:repeat;
      background-size:8px 450px;
      .container {
        height:auto;
        padding:18.5% 0 0 0;
      }
      .title {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:18.5%;
        margin:0;
        background-image:url("../image/main/m_section05_title.png");
        background-size:cover;
      }
      .image-1 {
        position:relative;
        left:auto;
        bottom:auto;
        width:100%;
        margin-top:9.8%;
        .img-1 {
          width:53.3vw;
          margin-left:24.3vw;
        }
        .img-2 {
          position:absolute;
          top:23%;
          left:31.9vw;
          width:37.2vw;
        }
      }
      .image-2 {
        position:relative;
        bottom:auto;
        right:auto;
        width:100%;
        margin:8% 0 13% 0;
        padding-top:5.3%;
        .img-1 {
          width:53.5vw;
          margin-left:24vw;
        }
        .img-2 {
          left:32.2vw;
          width:38.4vw;
        }
      }
      .step { 
        margin-top:3.7%;
        font-size:3.6vw;
        img {
          width:8.8vw;
          margin-right:1vw;
          vertical-align:top;
        }
      }
    }
  
    // section06
    .section06 {
      background-repeat:repeat;
      background-size:8px 450px;
      .container {
        height:auto;
        padding:14.9% 0 46.4% 0;
        > img {
          width:100%;
          padding:0 4vw;
        }
      }
      .day {
        bottom:18.6%;
        left:8.5vw;
        right:8.5vw;
        height:22.2%;
        > p {
          width:5.8vw;
          height:100%;
          background-size:contain;
          &.txt-1 {
            width:25.9vw;
          }
          @for $i from 1 through 6 {
            &.txt-#{$i} {
              background-image:url("../image/main/m_section06_txt01_0#{$i}.png");
            }
          }
        }
        > span {
          width:8.8vw;
          height:100%;
          margin-bottom:6.2%;
          background:url("../image/main/m_section06_arrow.png") no-repeat center bottom;
          background-size:contain;
        }
      }
    }
  
    // section07
    .section07 {
      .container {
        height:auto;
      }
      .title-box {
        display:none;
      }
      .m-image {
        img {
          width:100%;
        }
      }
      .txt-1 {
        top:28.5%;
        right:26.9vw;
        width:16.6vw;
        height:4.07%;
        background-image:url("../image/main/m_section07_txt02.png");
        background-size:contain;
      }
      .txt-2 {
        top:55.6%;
        left:13.4vw;
        width:45.5vw;
        height:33.2%;
        @include fontNone;
        background:url("../image/main/m_section07_txt01.png") no-repeat center center;
        background-size:contain;
      }
      .image-1 {
        top:47.6%;
        left:63.5vw;
        width:36.4vw;
        height:45.9%;
        background:url("../image/main/m_section07_img01.png") no-repeat center center;
        background-size:contain;
      }
    }
  
    // section08
    .section08 {
      .container {
        height:auto;
      }
      .m-image {
        img {
          width:100%;
        }
      }
      .m-txt-1 {
        position:absolute;
        top:48.2%;
        left:20.7vw;
        width:28.1vw;
        height:9%;
        background:url("../image/main/m_section08_txt01.png") no-repeat center center;
        background-size:contain;
        @include fontNone;
      }
      
      .txt-1 {
        display:none;
      }
      .txt-2 {
        top:71.3%;
        left:25vw;
        width:55.3vw;
        height:20.2%;
        background:url("../image/main/m_section08_txt02.png") no-repeat center center;
        background-size:contain;
      }
    }

    // section09
    .section09 {
      .m-image {
        img {
          width:100%;
        }
      }
      .txt-1 {
        position:absolute;
        top:25.1%;
        left:13.5vw;
        width:49.3vw;
        height:9.6%;
        background:url("../image/main/m_section09_txt01.png") no-repeat center center;
        background-size:contain;
        @include fontNone;
      }
      .txt-2 {
        position:absolute;
        top:41.4%;
        left:12.8vw;
        width:49.6vw;
        height:32.7%;
        background:url("../image/main/m_section09_txt02.png") no-repeat center center;
        background-size:contain;
        @include fontNone;
      }
    }
  }

}